/* -----------Scroll to top --------------- */

.scroll-to-top-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .scroll-to-top-button.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .scroll-to-top-button i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .scroll-to-top-button:hover {
    background-color: #b6acac;
    color: black;
  }

/* Home */
.btn-link {
  text-decoration: none !important;
  transition: transform 0.3s ease;
}

.btn-link:hover {
  background: white!important;
  transform: scale(.9);
}

/* Products */
.items {
  margin-bottom: 100px!important;
}
.menu-item:hover {
  background: white;
}

.menu-item img {
  width: 70px;
  height: 100px;
}

.menu-item {
  position: relative;
  width: 150px !important;
  height: 110px;
}

.price {
  position: absolute;
  bottom: 0%;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width:414px){
  .navbar .container {
    justify-content: center !important;
    padding-left: 0px !important;
  }

  .navbar .nav-link {
    margin: 20px 5px 15px 10px!important;
  }

  .home-content {
    margin-top: 50px;
  }

  .text-banner {
    text-align: center;
  }


  .all-menu .menu-item {
    display: grid !important;
    width: 35%
  }
}

 @media screen and (min-width:415px) and (max-width:767px){
  .navbar .container {
    justify-content: center !important;
  }

  .navbar .nav-item {
    display: flex;
    justify-content: center ;
  }

  .home-content {
    margin-top: 50px;
  }

  .text-banner {
    text-align: center;
  }

  .all-menu .menu-item {
    width: 35%
  }
}